<!DOCTYPE html>
<html lang="zh-cn" ng-app="app" ng-controller="ktrController">
<title>获取DDL</title>
<meta charset="UTF-8">
#include("/WEB-INF/pages/tpl/header.vm")
#include("/WEB-INF/pages/tpl/navbar.vm")
<script src="../js/tools/getKtr.js"></script>
<script src="../js/ext/queue.js"></script>
</head>
<body>
	<div class="container">
		<h3>{{msg}}</h3>
		<br>
		<table class="table table-hover">
			<tr>
				<td width="100px">表名</td>
				<td><input type="text" class="form-control" placeholder="tablename" ng-model="table.tablename"></td>	
			</tr>
			<tr>
				<td>
					<button type="button" class="btn" ng-click="searchKtr()">生成Ktr</button>
				</td>
				<td></td>
			</tr>
		</table>
		<div ng-show="table.status == ok">
			<button type="button" class="btn" ng-click="exportKtr()">导出</button> 表属性：
			<table class="table table-hover table-bordered">
				<tr>
					<th>序号</th>
					<th>字段名称</th>
					<th>字段中文名称</th>
					<th>数据类型</th>
				</tr>
				<tr ng-repeat="tb in table.fields">
					<td>{{$index + 1}}</td>
					<td>{{tb.FIELD_EN}}</td>	
					<td>{{tb.FIELD_ZH}}</td>	
					<td>{{tb.FIELD_TYPE}}</td>	
				</tr>
			</table>
		</div>
		<div>
			<pre>{{table.ktr}}</pre>
		</div>
		<button type="button" class="btn btn-warning" ng-click="impExl =! impExl">批量生成</button>
		<div ng-show="impExl == true">
			<table>
				<tr>
					<td>
						<form method="post" enctype="multipart/form-data" id="submitForm" action="./postKtrExcel">
							<table>
								<tr>
									<td>Excel：</td>
									<td><input type="file" name="file" id="uploadFile"></input></td>
								</tr>
							</table>
						</form>
					</td>
					<td>
						<button ng-click="importExcel()" class="btn btn-danger" type="button" >导入</button>
						<button ng-click="impExl =! impExl">取消</button>
					</td>
				</tr>
 			</table>
		</div>
	</div>
</body>
</html>
