<!DOCTYPE html>
<html lang="zh-cn" ng-app="app" ng-controller="hxzgqcController">
<title>QC</title>
<meta charset="UTF-8">
#include("/WEB-INF/pages/tpl/header.vm")
<script src="../js/gt3/hxzgqc.js"></script>
<script src="../js/ext/queue.js"></script>
</head>
<body>
	<h3>{{msg}}</h3>
	<button ng-click="impExl =! impExl" ng-show="isAdmin == true">导入</button>
	<button ng-click="getTable()">查询</button>
	
	<div>
		<table>
			<tr>
				<th>OWNER</th>
				<th>用户</th>
				<th>物理表名称</th>
				<th>物理表中文名称</th>
				<th>包含字段总数</th>
				<th>备注</th>
			</tr>
			<tr ng-repeat="tb in table.list">
				<td>{{tb.OWNER}}</td>	
				<td>{{tb.USER}}</td>	
				<td>{{tb.NAME_EN}}</td>	
				<td>{{tb.NAME_ZH}}</td>	
				<td>{{tb.FIELDS}}</td>	
				<td>{{tb.BZ}}</td>	
			</tr>
		</table>
		第{{table.pageNumber}}页<br/>
		每页{{table.pageSize}}条<br/>
		共{{table.totalPage}}页<br/>
		共{{table.totalRow}}条<br/>
		是否首页：{{table.firstPage}}<br/>
		是否末页：{{table.lastPage}}<br/>
	</div>

	<div ng-show="impExl == true">
		<table>
			<tr>
				<td>
					<form method="post" enctype="multipart/form-data" id="submitForm"
						action="./postExcel">
						<table>
							<tr>
								<td>类型：</td>
								<td><select ng-model="uploadType" name="type"
									ng-options="t.v as t.k for t in types"></select></td>
							</tr>
							<tr>
								<td>Excel：</td>
								<td><input type="file" name="file" id="uploadFile"></input></td>
							</tr>
						</table>
					</form>
				</td>
			</tr>
			<tr>
				<td>
					<button ng-click="importExcel()">导入</button>
					<button ng-click="impExl =! impExl">取消</button>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
